# =========== Log ===========
*\logs*
*\log*
*.log

# =========== MAVEN ===========
*\target*

# =========== IDEA ===========
*\.idea*
*.iml

# =========== Eclipse ===========
*\.classpath
*\.project
*\.settings*
*\.myeclipse*

# =========== SVN ===========
*\.svn*





